* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body {
    background: linear-gradient(#a268bd, #ab5ab2, #d3aeef);
}
*/
nav {
    background: linear-gradient(#a268bd, #ab5ab2, #d3aeef);
    background-position: 0%;
}
.button {
    width: 30px;
    height: 40%;
    font-size: 16px;
    background: linear-gradient(#a268bd, #ab5ab2, #d3aeef);
}